<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.twtims.mapboxdemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
            android:name=".MapApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".dataVisualization.AddRainFallStyleActivity"></activity>
        <activity android:name=".dataVisualization.CreateHotspotsActivity" />
        <activity android:name=".dataVisualization.LineLayerActivity" />
        <activity android:name=".dataVisualization.CalendarIntegrationActivity" />
        <activity android:name=".dataVisualization.BathymetryActivity" />
        <activity android:name=".dataVisualization.MultipleHeatmapStylingActivity" />
        <activity android:name=".layer.VariableLabelPlacementActivity" />
        <activity android:name=".label.ValueAnimatorIconAnimationActivity" />
        <activity android:name=".displaymap.ImageSourceActivity" />
        <activity android:name=".displaymap.TransparentBackgroundActivity" />
        <activity android:name=".displaymap.TextFieldMultipleFormatsActivity" />
        <activity android:name=".label.SymbolLayerMapillaryActivity" />
        <activity android:name=".label.TextFieldFormattingActivity" />
        <activity android:name=".layer.ShowHideLayersActivity" />
        <activity android:name=".displaymap.SatelliteOpacityOnZoomActivity" />
        <activity android:name=".label.RotatingTextAnchorPositionActivity" />
        <activity android:name=".label.PulsingLayerOpacityColorActivity" />
        <activity android:name=".label.MissingIconActivity" />
        <activity android:name=".label.BasicSymbolLayerActivity" />
        <activity android:name=".label.MarkerFollowingRouteActivity" />
        <activity android:name=".displaymap.IndoorMapActivity" />
        <activity android:name=".label.ClickAddPhotoActivity" />
        <activity android:name=".displaymap.ZoomDependentFillColorActivity" />
        <activity android:name=".label.LanguageSwitchActivity" />
        <activity android:name=".layer.ColorSwitcherActivity" />
        <activity android:name=".label.SpaceStationLocationActivity" />
        <activity android:name=".label.AnimatedMarkerActivity" />
        <activity android:name=".layer.AdjustLayerOpacityActivity" />
        <activity android:name=".layer.ImageSourceTimeLapseActivity" />
        <activity android:name=".layer.AddWmsSourceActivity" />
        <activity android:name=".layer.VectorLayerActivity" />
        <activity android:name=".layer.GeojsonLayerInStackActivity" />
        <activity android:name=".layer.HillShadeActivity" />
        <activity android:name=".displaymap.FragmentMapActivity" />
        <activity android:name=".displaymap.DynamicMapActivity" />
        <activity android:name=".NavActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".displaymap.MainActivity" />
    </application>

</manifest>